# Python
backend/.venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Next.js
frontend/.next/

# Environment
.env
.env.local

# Firebase
firebase-debug.log

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

credentials/firebase_account.json

backend/credentials/firebase_account.json
